* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    scale: 1.01;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

nav {
    padding-bottom: 1rem;

    a {
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
        border: 2px transparent;
        border-radius: 5px;
        margin-right: 1rem;
        transition: all 0.3s ease;
        background-color: #007bff;
    }

    a:hover {
        background-color: rgb(39, 86, 255);
        color: white;
    }
}

nav a.active {
    color: white;
    background-color: rgb(114, 0, 134);

}

body {
    overflow-y: scroll;
}